:root {
  --dark-teal-color: #029491;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --orange-color: #FFB64F;
  --aquamarine-color: #7CE3E1;
  --blue-color: #5970FF;

  --font-main: 'Inter', sans-serif;
  --font-heading: "Rubik", sans-serif; 
}
